
<div class="header pb-7 pt-5 pt-lg-8 d-flex align-items-center"
     style="min-height: 350px; background-image: url(https://media.discordapp.net/attachments/1042520483419148311/1042532490784538785/Grupo_48.png?width=960&height=343); background-size: cover; background-position: center top;">

  <div class="container">
    <div class="text-center text-light">
      <h1>Organizaciones</h1>

      <div class="position-relative text-light">

      </div>
    </div>
  </div>
</div>
  <h2>Tabla de Organizaciones Registradas</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Lugar</th>
      <th>Tipo</th>
    </tr>
    <tr *ngFor="let item of data">
      <td>{{ item.id }}</td>
      <td>{{ item.nombre }}</td>
      <td>{{ item.apellido }}</td>
      <td>{{ item.telefono }}</td>
    </tr>

  </table>
